<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>diagnosis</title>
    </head>

    <body class="perfumes">
    <div class="perfume_box">
        <h3>あなたにピッタリの映画館は？@関東</h3><br>

        <div class="start">
            <%= link_to "診断を始める", new_perfume_path, :class=>"shine" %>
        </div><br>

        <%= link_to "映画館一覧に戻る", posts_path ,:class=>"perfume_link" %>
        </div>
    </body>
