<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>diagnosis</title>
    </head>

    <body>
        <header>
            <h1>あなたにピッタリの映画館は？@関東</h1>
        </header>

        <div class="start">
            <%= link_to "診断を始める", new_perfume_path, class: "link" %>
        </div>

        <%= link_to "映画館一覧に戻る", posts_path %>
    </body>
