<body onload="initMap(), codeAddress()" class="perfumes_result">
<div class="intoro">
  <br>
  <h4>あなたにおすすめの映画館は……</h4><br>
</div>
<div class="result-container">
  <input type="hidden" id="address" value="仮">
    <div class="result">
      <% if @perfume.question1 == "1" && @perfume.question2 == "1" %>
        <h2><a href="https://www.nfaj.go.jp/" target="_blank" class="jump" >国立映画アーカイブ <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
          <p>日本で唯一の国立映画専門機関</p>
          <p>名作をお手頃価格で観られる</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d415158.2447872063!2d139.2535634710824!3d35.617277748954294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be24c20310d%3A0x56a1c0d9e9833746!2z5Zu956uL5pig55S744Ki44O844Kr44Kk44OW!5e0!3m2!1sja!2sjp!4v1711962976680!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "1" && @perfume.question2 == "2" %>
        <h2><a href="https://atsuginoeigakan-kiki.com/" target="_blank" class="jump" >あつぎのえいがかんkiki <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>上映する映画を選ぶセンスが抜群</p>
        <p>上映頻度が高い</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3250.49637905338!2d139.3629636398161!3d35.44250377277902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018558bd16f2d47%3A0xae25bbcb8c2ea438!2z44GC44Gk44GO44Gu44GI44GE44GM44GL44KTa2lraQ!5e0!3m2!1sja!2sjp!4v1711962396173!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "1" && @perfume.question2 == "3" %>
        <h2><a href="https://tjoy.jp/t-joy_soga" target="_blank" class="jump" >T・ジョイ蘇我 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>魅力的なプライベートルームが存在</p>
        <p>無料シャトルバスで行けるので映画以外の出費が抑えられる</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.382174262072!2d140.11497933982366!3d35.59363827272965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60229b468b653a37%3A0x3f6f20a781065a7!2z77y044O744K444On44Kk6JiH5oiR!5e0!3m2!1sja!2sjp!4v1711963062242!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "2" && @perfume.question2 == "1" %>
        <h2><a href="https://109cinemas.net/grandberrypark/" target="_blank" class="jump" >109シネマズ グランベリーパーク <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>都内最大級のアウトレット複合施設内の映画館</p>
        <p>映画チケットで施設の割引も</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.7669523580807!2d139.46758723981958!3d35.51004037275682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f9a3d3c2e029%3A0xda69016c055fb711!2zMTA544K344ON44Oe44K6IOOCsOODqeODs-ODmeODquODvOODkeODvOOCrw!5e0!3m2!1sja!2sjp!4v1711963161891!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "2" && @perfume.question2 == "2" %>
        <h2><a href="https://cinecitta.co.jp/" target="_blank" class="jump" >チネチッタ <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>イタリアのヒルタウンをモチーフに作られたエンタテイメントの街「ラ チッタデッラ」の一角</p>
        <p>購入できる飲食物のレパートリーが多い</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.0365750416477!2d139.6949327898203!3d35.528093822751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601860a24dd4dc83%3A0xaefa22e0693b2ff!2z44OB44ON44OB44OD44K_!5e0!3m2!1sja!2sjp!4v1711963180669!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "2" && @perfume.question2 == "3" %>
        <h2><a href="https://cinemacity.co.jp/" target="_blank" class="jump" >立川シネマシティ <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>チャレンジ精神旺盛な映画館</p>
        <p>周辺にはおしゃれなお店が立ち並ぶ</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.025633058865!2d139.41048008982872!3d35.70098682269502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018e1706395c7bb%3A0x1caa738070f8db1f!2z44K344ON44Oe44K344OG44KjIOOCt-ODjeODnuODu-ODr-ODsw!5e0!3m2!1sja!2sjp!4v1711963315352!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "3" && @perfume.question2 == "1" %>
        <h2><a href="https://hlo.tohotheater.jp/net/schedule/043/TNPI2000J01.do" target="_blank" class="jump" >TOHOシネマズ 渋谷 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>駐車場有のため都会でも快適</p>
        <p>チェーン店なので映画のラインナップが豊富</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.728275255276!2d139.6963457398268!3d35.65906577270848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca82a823dc5%3A0x69f7b646cb1ce365!2zVE9IT-OCt-ODjeODnuOCuiDmuIvosLc!5e0!3m2!1sja!2sjp!4v1711963332000!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "3" && @perfume.question2 == "2" %>
        <h2><a href="https://hlo.tohotheater.jp/net/schedule/036/TNPI2000J01.do" target="_blank" class="jump" >TOHOシネマズ ららぽーと横浜 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>家族に人気の商業施設内にある</p>
        <p>上映前の待ち時間は入り口すぐのガチャガチャで楽しめる</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.5145733420013!2d139.56400973981985!3d35.516279572754776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018586182d1fd03%3A0xc202d538b9b04c1!2zVE9IT-OCt-ODjeODnuOCuiDjgonjgonjgb3jg7zjgajmqKrmtZw!5e0!3m2!1sja!2sjp!4v1711963391437!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="result">
      <% elsif @perfume.question1 == "3" && @perfume.question2 == "3" %>
        <h2><a href="https://www.ct-21.jp/" target="_blank" class="jump" >シネティアラ21 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></h2>
        <p>駅近でアクセスが良い</p>
        <p>全席ワイドシートで目に優しいスクリーン</p>
        <h4>アクセス</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3222.1119212623034!2d139.38902393985057!3d36.139488072557604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601f29bdc6f478bd%3A0xe08bec20bd34ccf3!2z44K344ON44OG44Kj44Ki44OpMjE!5e0!3m2!1sja!2sjp!4v1711963410169!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <% end %>
    </div>
      <%= link_to "もう一度診断する！", new_perfume_path, :class=>"btn" %>
</div>
</body>
