// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//topページ
.top {
  text-align: center;
  background-image: url(top_background.jpg);
  background-size: cover;
  line-height: 2.5;
}

.img2 {
  opacity: 0.7;
  width: 100vw;
  vertical-align: bottom;
}

#topimg {
  width: 100%;
  height: auto;
}

.title {
  font-size: 300%;
  font-family: 'Noto Sans Mono', monospace;
  line-height: 150%;
}

.big {
  font-size: 2.5vw;
}

.center {
  position: relative;
}

.center span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 2px 3px #4c4c4c;
}

.top h2 {
  color: #4c4c4c;
  text-shadow: none;

}

.container {
  display: flex;
  justify-content: center;
}

@keyframes poyopoyo {

  0% {
    transform: scale(1.0);
  }

  40% {
    transform: scale(1.0);
  }

  60% {
    transform: scale(1.0);
  }

  80% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(0.95);
  }
}

.container ul {
  display: flex;
  flex-wrap: wrap;
}

.container li {
  list-style: none;
  border: none;
  border-radius: 20px;
  background: #ffe180;
  color: #4c4c4c;
  text-align: center;
  margin: 10px;
  padding: 0 36px 0 35px;
  animation: poyopoyo 2.5s infinite;
  opacity: 1;
}

#fukidashi img {
  position: absolute;
  z-index: 30;
  opacity: 1.0;

}

.fuwafuwa {
  animation: fuwafuwa 3s ease-in-out infinite alternate;
  display: inline-block;
  transition: 1.5s ease-in-out;
}

.fuwafuwa h2 {
  position: absolute;
  top: 30%;
  left: 22%
}

@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(0, -10px) rotate(0deg);
  }
}

.term {
  background: #ffe070;
  color: #4c4c4c;
  text-shadow: none;
}

.up {
  position: float;
  top: 5px;
}

.top h3 {
  margin: 10px;
}



//indexページ
.index {
  text-align: center;
  background-color: #ffebb0;
  z-index: -1;
  line-height: 2.5;
}

.curtain {
  text-align: center;
  position: relative;
  width: 100%;
  top: -75px;
  z-index: 5;
}

.btnLike {
  position: fixed;
  right: 30px;
  bottom: 50px;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: transparent;
  border-radius: 25px;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.2s ease;
  z-index: 3;
}

.btnLike:hover {
  border-color: transparent;
}

.no-underline {
  font-family: 'Noto Sans Mono', monospace;
  position: relative;
  z-index: 2;
  /*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
  display: block;
  padding: 10px 30px;
  background: #fff;
  border-radius: 25px;
  color: #7fbfff;
  /*アニメーションの指定*/
  transition: all 0.3s ease;
  text-decoration: none;
  color: #7fbfff;
}

.pushdown:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 0;
  /*影の形状*/
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #7fbfff;
}

.no-underline:hover {
  font-family: 'Noto Sans Mono', monospace;
  background-color: #7fbfff;
  color: #fff;
  transform: translateY(4px);
}

.srcbg {
  background-color: #ffe180;
  display: flex;
  padding-top: 30px;
  margin-top: -123px;
}

.index .title {
  font-family: 'cinecaption226';
  text-align: left;
  margin-left: 25px;
  font-size: 250%;
}


.search {
  left: 100%;
  position: relative;
  transform: translateX(-175%);
  display: flex;
  padding: 10px;
}

.srcbox {
  height: 50px;
  padding: 0 10px;
  border-radius: 25px 0px 0px 25px;
  outline: 0;
  background: white;
  border: none;
  font-family: 'Noto Sans Mono';
}

.srcbtn {
  height: 50px;
  width: 50px;
  background: #7fbfff;
  color: #fff;
  border: none;
  border-radius: 0 25px 25px 0;
}

.srcbtn:hover {
  color: #888;
}

.posts-container {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  text-align: center;
  justify-content: center;
  border: 4px solid #000000;
  margin: 10px;
  padding: 0 36px 0 35px;
  width: 290px;
  background-color: white;
  background-image: url(post.jpg);
  background-size: contain;
}

.theater {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 0 10px;
}

.about {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0 25px;
}

.reaction {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.heart {
  display: inline-block;
  position: relative;
  width: 4em;
  height: 4em;
  overflow: hidden;
  background-color: transparent;
  border: none;
  margin: 0 20px;
  margin-top: 6px;
}

.heart i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

.heart p {
  font-size: 150%;
  position: relative;
}

.comment {
  display: inline-block;
  position: relative;
  width: 4em;
  height: 4em;
  overflow: hidden;
  background-color: transparent;
  border: none;
  margin-left: 2px;
  margin: 0 20px;
  color: black;
}

.comment i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}

.comment p {
  font-size: 150%;
  position: relative;
}


//newページ
.new {
  text-align: center;
  background-image: url(new_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 2.5;
  color: white;
}

.new h3 {
  font-family: 'Noto Sans Mono';
  font-size: 150%;
  color: black;
}

//showページ
.show {
  text-align: center;
  background-image: url(new_background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  line-height: 2.5;
}

.show h3 {
  font-family: 'Noto Sans Mono', monospace;
}

.show-wrapper {
  padding: 0 10%;
  margin: 0 10vw;
  font-weight: bold;
  background-image: url("post.jpg");
  background-size: contain;
  border-radius: 10px;
  justify-content: center;
  border: 4px solid #000000;
  min-width: 300px;
}

.show .comment i {
  font-size: 2.5em;
}

.show ul {
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show li {
  margin: 0 10px;
}

.comment-wrapper {
  text-align: left;
  position: relative;
  padding: 1rem;
  margin: 5px;
}

.fukidashi {
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 3px;
  padding: 10px;
}

.fukidashi:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  margin-left: -15px;
  margin-top: -30px;
  border: 15px solid transparent;
  border-bottom: 15px solid black;
}
